.welcome-hero {
  padding-top: 80px;
}

.welcome-hero .location {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0d6efd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}

.welcome-hero .hero-title {
  font-size: 50px;
  font-weight: 600;
  color: #001430;
  line-height: 1.2;
  margin: 0;
}

.welcome-hero .hero-description {
  font-size: 16px;
  font-weight: 300;
  color: #525252;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 70px;
}

.welcome-hero .hero-primary {
  font-size: 64px;
  font-weight: 600;
  color: #001430;
}

.welcome-hero .services-link {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
  text-decoration: none;
  border-bottom: 1px solid #525252;
  padding-bottom: 2px;
  transition: color 0.2s ease, border-color 0.2s ease;
  border-radius: 0;
}

.welcome-hero .hero-image-container {
  position: relative;
  padding: 0;
}

.welcome-hero .primary-button {
  background-color: #0981c8;
  border: none;
  border-radius: 20px;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  box-shadow: 8px 8px 0 #001430;
  cursor: pointer;
  transition: transform 0.2s;
}
.welcome-hero .hero-background {
  width: 100%;
  z-index: 1;
}

.welcome-hero .hero-image {
  position: relative;
  z-index: 2;
  width: 76%;
  border-radius: 20px;
  position: absolute;
  /* right: 82px; */
  top: 82px;
}

/* @media screen and (max-width: 992px) {
  .welcome-hero {
    padding-top: 80px;
  }

  .welcome-hero .hero-title,
  .welcome-hero .hero-primary {
    font-size: 48px;
  }

  .welcome-hero .hero-image {
    width: 60%;
    right: 80px;
  }
} */

@media screen and (max-width: 768px) {
  .welcome-hero {
    padding-top: 60px;
    text-align: center;
  }

  .welcome-hero .hero-title,
  .welcome-hero .hero-primary {
    font-size: 36px;
  }

  .welcome-hero .hero-description {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .welcome-hero .primary-button {
    padding: 10px 24px;
    font-size: 16px;
    box-shadow: 6px 6px 0 #001430;
  }

  .welcome-hero .hero-image-container {
    margin-top: 40px;
  }

  .welcome-hero .hero-image {
    top: 45px;
  }
}

@media screen and (max-width: 576px) {
  .welcome-hero .hero-title,
  .welcome-hero .hero-primary {
    font-size: 32px;
  }

  .welcome-hero .location {
    font-size: 14px;
  }

  .welcome-hero .services-link {
    font-size: 14px;
  }
}
